.restartSimSession.tcl.old
UART/simv
UART/csrc/
UART/simv.daidir/
UART/ucli.key
UART/inter.vpd
UART/DVEfiles/
UART/.restartSimSession.tcl.old
UART/db
UART/greybox_tmp
UART/incremental_db
UART/output_files
*.bak
*.stp
UART/.restartSimSession.tcl.old
UART/uart/x64
UART/uart/uart
UART/uart/.vs

